# This is just an example .env file

# Database Settings
# The username for the database
POSTGRES_USER=postgres

# The password for the database
POSTGRES_PASSWORD=postgres_password

# The name of the database
POSTGRES_DB=clevercookin

# The host
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Application Security
# Secret key for signing JWT tokens (login).
SECRET_KEY=stringstring

# Algorithm used for encryption
ALGORITHM=HS256